{% extends "base.html" %}
{% block body %}

This is the update page 

<div class="mx-auto p-1 shadow">
    <form class="mx-auto shadow-lg p-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="titlex" value="{{ objs.title }}">
        <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="descriptionx" value="{{ objs.description }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="mx-auto p-3"><a href="/">Return to Home</a></div>

{% endblock body %}